requests==2.24.0
pandas==1.2.4
boto3==1.17.64
numpy==1.19.5
matplotlib==3.2.1
opencv_python==4.3.0.36
Pillow==8.2.0
scikit_learn==0.24.1
openpyxl==3.0.7
tqdm==4.48.0
xlsxwriter==1.3.8
argparse==1.1
openpyxl==3.0.7
pydub==0.25.1
moviepy==1.0.3
ffmpeg==1.4
scipy==1.4.1
docxtpl==0.11.4
docx2pdf==0.1.7
auditok==0.2.0
librosa==0.8.0
nltk==3.6.2
pydub==0.25.1
